.post-card {
  margin: 0;
  box-shadow: unset;
  border-bottom: 1px solid #f0f0f2;
  border-radius: 0;
  &--first {
    border-top: 1px solid #f0f0f2;
  }
  &__header__subtitle span:first-child {
    margin-right: 10px;
  }
}
