<mat-card [ngClass]="index == 0 ? 'post-card--first':''" class="post-card">
  <mat-card-header class="post-card__header">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle class="post-card__header__subtitle">
      <span>{{post.author}}</span>
      <span>{{post.create_time | date:"yyyy-MM-dd HH:mm"}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="post-card__digest">
    <p>{{post.digest}}</p>
  </mat-card-content>
  <mat-card-actions align="end" class="post-card__actions">
    <button *ngIf="isLogin" color="primary" mat-button routerLink="/post_edit/{{post.id}}"> 编辑</button>
    <button (click)="deletePost(post.id)" *ngIf="isLogin" color="warn" mat-button>删除</button>
    <a class="post-card__actions__more" mat-button routerLink="/post/{{post.id}}">
      <span>更多</span>
      <span class="material-icons">chevron_right</span>
    </a>
  </mat-card-actions>
</mat-card>
