<footer class="app-footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="app-footer__row app-footer__email">
      <span class="material-icons">email</span>
      <a mat-button href="mailto:{{email}}">{{email}}</a>
    </mat-toolbar-row>
    <mat-toolbar-row class="app-footer__row app-footer__github">
      <img src="assets/git-hub-circle-white-transparent.svg" alt="github icon">
      <a mat-button href="{{github_url}}" target="_blank">Riton's Github</a>
    </mat-toolbar-row>
    <mat-toolbar-row class="app-footer__row app-footer__record">
      <a mat-button href="{{record_url}}">陕ICP备2021005223号-1</a>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>

