<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="name-line">
    <span>用户名</span>
    <label for="name">
      <input id="name" type="text" formControlName="username">
    </label>
  </div>
  <div *ngIf="errorTips.name != ''">{{errorTips.username}}</div>
  <div class="password-line">
    <span>密钥</span>
    <label for="password">
      <input id="password" type="password" formControlName="password">
    </label>
  </div>
  <div *ngIf="errorTips.password != ''">{{errorTips.password}}</div>
  <div class="button-line">
  <button class="button" type="submit">登入</button>
  </div>
</form>
